@use 'uswds-core' with (
  $theme-image-path: '~/node_modules/@uswds/uswds/dist/img',
  $theme-font-path: '~/node_modules/@uswds/uswds/dist/fonts',
  $theme-show-notifications: false,
  $utilities-use-important: true,
  $theme-font-weight-semibold: '600',
  $theme-type-scale-md: 8,
  $theme-typeface-tokens:
  (
    baseFontFamily: (
      'display-name': var(--base-font-family),
      'cap-height': 364px
    )
  ),
  $theme-utility-breakpoints: (
    'mobile-lg': true,
    'desktop': true
  ),
  $theme-font-type-serif: baseFontFamily,
  $theme-font-type-sans: baseFontFamily,
  $theme-color-base-darkest: 'gray-cool-80',
  $theme-color-base-ink: 'gray-cool-90',
  $theme-color-primary: 'red-50',
  $theme-color-secondary: 'yellow-30',
  $overflow-settings: (
    responsive: true,
  ),
  $position-settings: (
    responsive: true,
  ),
  $top-settings: (
    responsive: true,
  ),
  $right-settings: (
    responsive: true,
  ),
  $left-settings: (
    responsive: true,
  ),
  $bottom-settings: (
    responsive: true,
  ),
  $z-index-settings: (
    responsive: true,
  ),
  $background-color-settings: (
    responsive: true,
  )
);