h1,h2,h3,h4,h5,h6 {
  column-span: all;
  max-width: 52rem;
  display: flex;
  flex-direction: column;
  gap: calc(0.75rem);

  &::before {
    content: '';
    width: 2rem;
    height: 0.25rem;
    border-radius: 0.25rem;
    background: rgb(34, 118, 172);
    display: block;
  }
}
